/*=============================================================================
 Side navigation
=============================================================================*/

#sidenav a i.title {
    min-width: 21px;
}

#sidenav a i.title.appetizer {
    color: #FBB142;
}

#sidenav a i.title.maindish {
    color: #7E4F89;
}

#sidenav a i.title.dessert {
    color: #E6526F;
}

#sidenav hr.section-break {
    margin-bottom: 15px;
    border-top: 0px;
}

#sidenav, #sidenav ul {
	list-style: none;
	display: block;
	position: relative;
	padding: 0;
	margin: 0;
	color: black;
}

ul#sidenav {
	padding: 10px;
	border: 1px solid #ffffff;
	background: #f4f4f4;
	font-size: 15px;
  margin-bottom: 40px;
}

#sidenav a {
	display: block;
	color: #222;
	text-decoration: none;
}

#sidenav a.active {
	font-weight: bold;
}

#sidenav a:hover, #sidenav a:focus {
	font-weight: bold;
}

/* 1st-level elements */
#sidenav > li {
	padding: 10px 5px 2px 5px;
}

#sidenav > li.dimmed a {
  color: #888;
}

/* 2nd-level element */
#sidenav > li > ul {
		padding-top: 5px;
}

#sidenav > li li {
	padding: 5px 0px 0px 15px;
	font-size: 14px;
}

#sidenav > li li li {
	font-size: 13px;
}

.sidenav-logo {
	text-align: center;
	padding-top: 10px;
}

.sidenav-logo img {
	width: 125px;
	vertical-align: text-bottom;
	padding-bottom: 2px;
}
