<footer>
    <p>
        © Copyright 2014 - 2018 data Artisans. <a href="https://data-artisans.com/legal-notice">Legal Notice.</a> Apache Flink, Flink®, Apache®, the squirrel logo, and the Apache feather logo are either registered trademarks or trademarks of The Apache Software Foundation. Website Development by <a href="http://www.sohocreativegroup.com/">Soho Creative Group</a>.
    </p>
    <p class="social-icons">
        <a href="https://twitter.com/dataartisans">
            <img src="{{ "/images/twitter.png" | prepend: site.baseurl }}" alt="Twitter" />
        </a>
        <a href="https://www.linkedin.com/company/data-artisans">
            <img src="{{ "/images/linkedin.png" | prepend: site.baseurl }}" alt="Linkedin" />
        </a>
    </p>
</footer>
