/* NAV */

.da-nav {
    font-family: 'Poppins', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    height: 54.6px;
    background-color: rgba(255,255,255,0.9);
    border: 0;
    box-shadow: 0px 3px 4px rgba(100, 100, 100, 0.2);
    margin: 0;
    transition: all .3s ease;

    &__logo {
        width: auto !important;
            img {
		top: 25px;
		left: -44.75px;
                height: 25.6px;
                width: 160px;
                position: absolute;
		display: block;
		transform: translateY(-50%) translateX(50%);
		margin-top: 2px;
		vertical-align: middle;
            }
    }

    &__icon {
	display: none;
    }

    #sidenavcol {
	display: block;
    };
}

@media screen and (max-width: 991px) {
    .da-nav {
	&__logo {
	    img {
                height: 23px;
                width: 144px;
	    }
	}

	&__icon {
	    display: block;
	    position: absolute;
	    right: 20px;
	    top: 9px;
	    font-size: 20pt;
	    color: #31747f;
	}
    }

    #sidenavcol {
	display: none;
    }
}

@keyframes fadeIn {
    99% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}

/* END NAV */

/* CONTENT */
.container {
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  padding-top: 94px;
  line-height: 25px;
  .wrapper {
      max-width: 1170px;
      padding: 0 20px;
  }
}

.page-content {
    h1 {
        font-size: 35px;
        font-weight: 900;
        line-height: 46px;
        letter-spacing: 1px;
    }
    .btn-primary, .btn-next {
        background-color: #31747f;
        border-color: #fff;
        color: white;
    }
    a {
        color: #31747f;
        font-weight: 700;
        &:focus, &:active, &:visited, &:hover {
            text-decoration: none;
        }
    }
    iframe {
        max-width: 100%;
    }
    img.compact {
	max-width: 50%;
    }
}

/* END CONTENT */

/* FOOTER */

footer {
    background-color: #fff;
    padding: 20px 12.5px;
    p {
        width: 70%;
        max-width: 640px;
        line-height: 22px;
        margin: auto;
        font-size: 13px;
        color: #818181;
        text-align: center;
        font-family: 'Lato', sans-serif;
        a {
            font-weight: 600;
            color: #363636;
            &:focus, &:active, &:hover {
                color: #31747f;
                text-decoration: none;
            }
        }
    }
    .social-icons a {
        transition: opacity .25s;
        padding: 0 7px;
        &:hover {
            opacity: .75;
        }
    }
}

@media screen and (max-width: 999px) {
    footer {
        padding: 20px 0;
    }
}

/* END FOOTER */

#cookie-notice{ opacity:0.9 !important;}

.gdpr-popup .cookie-agree-btn {
  font-size: .75rem;
  padding: 10px 50px;
  margin-top: 15px;
}
.gdpr-popup .cookie-agree-btn:hover, .gdpr-popup .cookie-agree-btn:active, .gdpr-popup .cookie-agree-btn:focus {
  color: white;
}
.cookie-notice {
  position: fixed;
  background-color: #31747f;
  color: #FFF;
  width: 100%;
  z-index: 1040;
  line-height: 30px;
  bottom:0px;
  left:0px;
  right:0px;
	padding: 5px 20px;
	font-size: 1.15rem;
	text-align: left;
}
.cookie-notice a {
	color: #FFF;
	font-weight: 600;
	font-size: 1.15rem;
}
.cookie-notice .cookie-agree-btn {
  font-size: 1.15rem;
	color: #222;
	line-height: 18px;
	padding: 2px 12px;
	background: linear-gradient(to bottom,#FEFEFE,#F4F4F4) #F3F3F3;
	border-color: #BBB;
	text-shadow: 0 1px 0 #FFF;
	-moz-box-sizing: border-box;
	border-radius: 3px;
	white-space: nowrap;
	margin-left: 10px;
	box-shadow: none;
	font-weight: 700;
	text-decoration: none;
	font-family: sans-serif;
	display: inline-block;
	font-style: normal;
	cursor: pointer;
	border-style: solid;
	border-width: 1px;
	outline: 0;
}
.gdpr-popup .cookie-ignore-btn,
.cookie-notice .cookie-ignore-btn {
	font-size: 1.15rem;
	color: #222;
	line-height: 18px;
	padding: 2px 12px;
	background: linear-gradient(to bottom,#FEFEFE,#F4F4F4) #F3F3F3;
	border-color: #BBB;
	text-shadow: 0 1px 0 #FFF;
	-moz-box-sizing: border-box;
	border-radius: 3px;
	white-space: nowrap;
	margin-left: 10px;
	box-shadow: none;
	font-weight: 700;
	text-decoration: none;
	font-family: sans-serif;
	display: inline-block;
	font-style: normal;
	cursor: pointer;
	border-style: solid;
	border-width: 1px;
	outline: 0;
}

.hs-form-booleancheckbox-display span, .hs-richtext p {
    font-weight: normal;
    font-size: 15px;
}

#form-content .hs-submit .hs-button {
    background-color: #31747f;
    border-color: #fff;
    color: white;
    background-image: none;
}

#form-content a {
    color: #31747f
}
