<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ site.baseurl }}/index.html">Apache Flink Training<sup>&reg;</sup></a>
      
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

        <!-- Lessons -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Lessons<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <!-- System Overview --> 
            <li><a href="{{ site.baseurl }}/overview/intro.html">1. System Overview</a></li>
            <li><a href="{{ site.baseurl }}/overview/slides.html">Lecture</a></li>
            <li class="divider"></li>
            <!-- Local Setup -->
            <li><a href="{{ site.baseurl }}/devSetup/intro.html">2. Setup Development Environment</a></li>
            <li><a href="{{ site.baseurl }}/devSetup/handsOn.html">Hands-On</a></li>
            <li class="divider"></li>
            <!-- DataSet Basics -->
            <li><a href="{{ site.baseurl }}/dataSetBasics/intro.html">3. DataSet API Basics</a></li>
            <li><a href="{{ site.baseurl }}/dataSetBasics/slides.html">Lecture</a></li>
            <li><a href="{{ site.baseurl }}/dataSetBasics/handsOn.html">Hands-On</a></li>
            <li class="divider"></li>
            <!-- DataSet Advanced -->
            <li><a href="{{ site.baseurl }}/dataSetAdvanced/intro.html">4. DataSet API Advanced</a></li>
            <li><a href="{{ site.baseurl }}/dataSetAdvanced/slides.html">Lecture</a></li>
            <li><a href="{{ site.baseurl }}/dataSetAdvanced/handsOn.html">Hands-On</a></li>
            <li class="divider"></li>
            <!-- Table API -->
            <li><a href="{{ site.baseurl }}/tableApi/intro.html">5. Table API</a></li>
            <li><a href="{{ site.baseurl }}/tableApi/slides.html">Lecture</a></li>
            <li><a href="{{ site.baseurl }}/tableApi/handsOn.html">Hands-On</a></li>
            <li class="divider"></li>
            <!-- Closing -->
            <li><a href="{{ site.baseurl }}/closing/intro.html">6. Closing</a></li>
            <li><a href="{{ site.baseurl }}/closing/slides.html">Slides</a></li>
          </ul>
        </li>

        <!-- Exercises --> 
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Exercises<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{{ site.baseurl }}/exercises/">Overview</a></li>
            <li class="divider"></li>
            <li><a href="{{ site.baseurl }}/exercises/mailCount.html">DataSet API: Mail Count</a></li>
            <li><a href="{{ site.baseurl }}/exercises/replyGraph.html">DataSet API: Reply Graph Extraction</a></li>
            <li><a href="{{ site.baseurl }}/exercises/tfIdf.html">DataSet API: TF-IDF</a></li>
            <li class="divider"></li>
            <li><a href="{{ site.baseurl }}/exercises/memberOTM.html">Table API: Member of the Month</a></li>
			<li class="divider"></li>
            <li><a href="{{ site.baseurl }}/exercises/replyGraphGelly.html">Gelly API: Page Rank</a></li>
            <li class="divider"></li>
            <li><a href="{{ site.baseurl }}/exercises/mailData.html">Mail Data Set</a></li>
          </ul>
        </li>

        <!-- Documentation Links -->  
        <li><a href="{{ site.baseurl }}/devResources/docLinks.html">Flink Documentation</a></li>

        <!--
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Resources<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{{ site.baseurl }}/devResources/docLinks.html">Flink Documentation</a></li>
            <li><a href="{{ site.baseurl }}/devResources/trainingSlides.html">Training Slides</a></li>
            <li class="divider"></li>
            <li><a href="{{ site.baseurl }}/devResources/bestPractices.html">Best Practices</a></li>
            <li><a href="{{ site.baseurl }}/devResources/tuning.html">Tuning</a></li>
            <li><a href="{{ site.baseurl }}/devResources/exceptionFaq.html">Exception FAQ</a></li>
          </ul>
        </li>
        -->
      </ul>
      <!--
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    -->
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>