<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/index.html">Apache Flink Training<sup>&reg;</sup></a>
      
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/setup.html">Setup</a></li>
        <li><a href="/localExec.html">Local Execution</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Exercises<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/exercises/">Overview</a></li>
            <li class="divider"></li>
            <li><a href="/exercises/mailCount.html">DataSet API: Mail Count</a></li>
            <li><a href="/exercises/replyGraph.html">DataSet API: Reply Graph Extraction</a></li>
            <li><a href="/exercises/tfidf.html">DataSet API: TF-IDF</a></li>
            <li class="divider"></li>
            <li><a href="/exercises/memberOTM.html">Table API: Member of the Month</a></li>
            <li class="divider"></li>
            <li><a href="/exercises/mailData.html">Mail Data Set</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Resources<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/devResources/docLinks.html">Flink Documentation</a></li>
            <li><a href="/devResources/trainingSlides.html">Training Slides</a></li>
            
            <!--
            <li class="divider"></li>
            <li><a href="/devResources/bestPractices.html">Best Practices</a></li>
            <li><a href="/devResources/tuning.html">Tuning</a></li>
            <li><a href="/devResources/exceptionFaq.html">Exception FAQ</a></li>
            -->
          </ul>
        </li>
      </ul>
      <!--
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    -->
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>