<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"js>

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.14.0/themes/prism.css" />

    <link rel="stylesheet" href="{{ "/main.css" | prepend: site.css }}">
    <link rel="stylesheet" href="{{ "/sidenav.css" | prepend: site.css }}">
    <link rel="stylesheet" href="{{ "/font-awesome/css/font-awesome.min.css" | prepend: site.css }}">

    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.14.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.14.0/components/prism-java.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.14.0/components/prism-scala.js"></script>

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl }}">
  </head>

  <body>

    {% include header.html %}

    <div class="container">
      <div class="wrapper">
        <div id="training-content" class="row">
          {{ content }}
        </div>
      </div>
    </div>

    {% include footer.html %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="{{ "/nav.js" | prepend: site.js }}"></script>

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
 
        ga('create', 'UA-55109292-1', 'auto');
        ga('send', 'pageview');
    </script>

    <!-- Start of HubSpot Embed Code -->
    <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/4757017.js"></script>
    <!-- End of HubSpot Embed Code -->
  </body>
</html>
